<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2>Home</h2>
      <p>Prueba componente home</p>
    </div>
    <div class="col-lg-6">
      <button type="button" class="btn btn-danger" (click)="openModal(template)">
        Create template modal
      </button>
      <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Modal</h4>
          <button
            type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="modalRef.hide()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          This is a modal.
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <carousel (activeSlideChange)="log($event)" [interval]="false">
        <slide *ngFor="let slide of slides; let index = index">
          <img
            [src]="slide.image"
            alt="image slide"
            style="display: block; width: 100%;"
          />

          <div class="carousel-caption">
            <h4>Slide {{ index }}</h4>
            <p>{{ slide.text }}</p>
          </div>
        </slide>
      </carousel>
      <br />
      <pre class="card card-block card-header">{{ slideChangeMessage }}</pre>
    </div>
  </div>
</div>
